<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Route Analyse</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <form id="inputFrm">
                    <label for="routeStartA"><b>Route A Start:</b></label>
                    <input type="text" class="form-control" id="routeStartA" style="width: 250px">
                    <label for="routeEndA"><b>Route A End:</b></label>
                    <input type="text" class="form-control" id="routeEndA" style="width: 250px">
                    <label for="routeShapeA"><b>A Line:</b></label>
                    <textarea class="form-control" rows="5" id="routeShapeA" style="width: 250px"></textarea>

                    <div class="btn-group btn-group-justified">
                        <button id="clearBtn" type="button" class="btn btn-danger btn-primary">
                            Clear Map
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Buffer Driver Route</a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in">
            <div class="panel-body">
                <form id="bufferOfRouteFrm">
                    <label for="routeStartA"><b>Radius :</b></label>
                    <input type="text" class="form-control" id="radiusOfBufferInput" style="width: auto">
                    <br/>

                    <div class="btn-group btn-group-justified">
                        <button id="drawBufferedAreaBtn" type="button" class="btn btn-success btn-primary">
                            Draw Buffered Area
                        </button>
                        <button id="findPlacesWithinAreaBtn" type="button" class="btn btn-success btn-primary">
                            Find Places
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

